fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
openai-whisper
moviepy
mediapipe
opencv-python
pypdf
google-generativeai
python-dotenv
edge-tts
psycopg2-binary
